<div *ngIf="!displayTree" class="text-center mb-10 mt-5 mainForm">
    <img src="../assets/images/logo.png" alt="GEDCOM Renderer logo" height="100" width="100" />
    <h1 class="h3 mb-3 font-weight-normal mt-3">GEDCOM Renderer</h1>
    <ng-container *ngIf="!fileLoaded">
        <app-file-input (loadFileEvent)="loadFile($event)"></app-file-input>
    </ng-container>

    <ng-container *ngIf="fileLoaded">
        <div *ngIf="members; else spinner">
            <p>Loaded <span class="font-weight-bold">{{members.length - 1}}</span> members into tree.</p>
            <button class="mt-3 btn btn-outline-primary" (click)="setDisplayTree(true)">View Members</button>
        </div>
    </ng-container>

    <ng-template #spinner>
        <div class="lds-hourglass"></div>
    </ng-template>
</div>
<!-- <app-family-list *ngIf="displayList"></app-family-list> -->
<app-family-canvas *ngIf="displayTree"></app-family-canvas>
